// Variables
@import "variables";

/**
 * General styles
 */
body{
    background:#fff;
}
.favorite-true{
    color:gold;
}
.error:empty{
    display:none;
}
.create-ad{
    background:$brand-farmbase !important;
    float:right;
    color:white !important;
}
/**
 * Header Styles
 */
.dropdown-menu{
    border:1px solid rgba(0,0,0,0.2);
    box-shadow:none;
    .dropdown-header{
        border-bottom:1px solid rgba(0,0,0,0.2);
        .avatar{
            height:50px;
            width:50px;
            border-radius:50%;
            background:gold;
            margin:0 auto;
            text-align:center;
            .initials {
              position: relative;
              top: 12.5px; /* 25% of parent */
              font-size:25px; /* 50% of parent */
              line-height: 25px; /* 50% of parent */
              color: #fff;
              font-weight: bold;
            }
        }
        p{
            text-align:center;
        }
    }
}
/**
 * Grid Styles
 */
.item-grid{
    /**
     * Tab Styles
     */
    .categories-panel{
        background:#F5F8FA;
        border-bottom:1px solid rgba(black,0.1);
        border-top:1px solid rgba(black,0.1);
        margin-bottom:40px;
        .tabs{
            li{
                display:block;
                float:left;
                margin-right:20px;
                padding:10px 0;
                a{
                    text-transform: capitalize;
                    color:#333;
                    text-decoration: none;
                }
            }
            .current{
                border-bottom:1px solid $brand-farmbase;
                a{
                    color:$brand-farmbase;
                }
            }
        }
    }
    /**
     * Item Styles
     */
    .item{
        border:1px solid rgba(black,0.1);
        .panel-heading{
            margin-bottom:0;
            position:relative;
            padding:0;
        }
        .panel-body{
            padding:5px;
            padding-right:10px;
        }
        .title{
            font-weight:700;
            // margin:0;
        }
        .location,.price,.author{
            display:inline;

            i{
                font-size:18px;
                margin-right:10px;
            }
        }
        .price{
            float:right;
        }
        .category{
            background:black;
            position:absolute;
            left:0;
            bottom:-1px;
            padding:10px auto;
            border-radius:0;
        }
        .panel-footer{

        }
        .favorite{
            float:right;
            padding:0;
            border:none;
            margin-top:3px;
        }
        .no-image{
           text-align:center;
           padding-top:40PX;
            i{
                font-size:24px;
            }
        }
    }
}
/**
 * Welcome Page Styles
 */
#welcome{
    .main-banner{
        .container-custom{
            background:url(../images/tractor.svg),$brand-farmbase;
            background-size:cover;
            background-repeat: no-repeat;
            background-position:60vh;
            height:80vh;
            margin-top:5vh;
            margin-bottom:10vh;
            .center-box{
                color:white;
                .cta-get-started{
                    background:white;
                    text-transform:capitalize;
                    color:$brand-farmbase;
                }
            }
        }
    }
}
/**
 * Form Styles
 */
#login_registration{
    .form-panel{
        box-shadow:none;
        border:1px solid rgba(0,0,0,0.2);
        padding:20px;
    }
    .panel-heading{
        text-transform:uppercase;
    }
    // .input-group{
    //  margin-bottom:20px;
    // }
    .form-input{
        border:none;
        border-bottom:1px solid rgba(0,0,0,0.15);
        box-shadow:none;
        height:50px;
    }
    .error{
        color:crimson;
        font-size:12px;
        font-weight:700;
        font-style:italic;
    }
    ::placeholder{
        font-weight:700;
    }
    .input-group-addon-custom{
        background:none;
        border:none;
        box-shadow:none;
        border-bottom:1px solid rgba(0,0,0,0.15);
        visibility:hidden;
    }
    .confirmed{
        visibility:visible;
    }
    .check{
        border:none;
        color:$brand-farmbase;
    }
    .not-check{
        border:none;
        color:$brand-danger;
    }
    button[type="submit"]{
        background:$brand-farmbase;
        color:white;
        // border:1px solid darken($brand-farmbase,20%);
    }
    button[type="submit"]:disabled{
        background:grey;
    }
}
/**
 * View Item Styles
 */
.actions{
    padding-top:20px;
    a{
        display:inline;
        margin-right:10px;
        color:white;
        text-decoration:none;
    }
    .call,.message{
        background:$brand-farmbase;
        border:1px solid darken($brand-farmbase,7%)
    }
}
.image-wrap{
    .category{
        background:$brand-farmbase;
    }
    .no-image{
           text-align:center;
           padding-top:40px;
            i{
                font-size:24px;
            }
        }
}
.item-info{
    padding:15px;
    padding-top:0px;
    .title{
        font-size:24px;
    }
    .negotiable{
        background:$brand-farmbase;
    }
    .product-description{
        padding-top:10px;
    }
    .favorite{
            float:right;
            padding:0;
            border:none;
            margin-top:3px;
        }
    .author,.location{
        margin-right:20px;
    }
    .location,.price,.author{
            display:inline;

            i{
                font-size:18px;
                margin-right:10px;
            }
        }
}

/**
 * Button Styles
 */
.button {
  text-decoration: none !important;
  display: inline-block;
  padding: 7.5px 15px;
  color: #0072ff;
  border: 1px solid rgba(0,0,0,0);
  border-radius: 2px;
  background-color: rgba(0,0,0,0);
  font-family: sans-serif;
  letter-spacing: 0.4px;
  font-size: 16px;
  margin-left: 2px;
  margin-right: 2px;
}
.button:hover,
.button:focus {
  color: #005bcc;
}
.button.transition {
  transition-duration: 0.2s;
}
.button.rounded {
  border-radius: 100rem;
  padding: 7.5px 27.5px;
}
.button.small {
  font-size: 12px;
  padding: 5.625px 16.25px;
}
.button.medium {
  font-size: 20px;
  padding: 9.375px 23.75px;
}
.button.large {
  font-size: 24px;
  padding: 11.25px 27.5px;
}
.button.small.rounded {
  padding: 5.625px 21.875px;
}
.button.medium.rounded {
  padding: 9.375px 33.125px;
}
.button.large.rounded {
  padding: 11.25px 38.75px;
}
.button.semi-transparent {
  opacity: 0.5;
}
.button.shadow {
  box-shadow: 0px 0px 9.7px rgba(0,0,0,0.43);
}
.button.fill-red {
  background-color: #ff3c00;
  color: #fff;
}
.button.fill-red:hover,
.button.fill-red:focus {
  background-color: #e63600;
}
.button.gradient-gray {
  background: linear-gradient(#dedede, #d0d0d0);
  color: #fff;
  border-color: #d0d0d0;
}
.button.gradient-gray:hover {
  background: linear-gradient(#dedede, #a6a6a6);
}
/**
 * Dashboard Styles
 */
#dashboard{
    .my-ads{
        box-shadow:none;
        .panel-title{
            font-size:12px !important;
            font-weight:500 !important;
            float:left;
        }
        .ad-list-item{
            padding:10px 1px;
        }
        .ad-title{
            font-weight:600;
            font-size:13px;
            // float:left;
        }
        .date-published{
            // float:left;
            display:block;
            margin:0
        }
        .edit{background:$brand-primary;color:white;float:right}
        .delete{background:$brand-danger;color:white;float:right}
        .favorite{
            background:$brand-farmbase;
        }
    }
}

/**
 * Form Styles
 */
#create-ad{
        .form-panel{
            box-shadow:none;
            border:1px solid rgba(0,0,0,0.2);
            padding:20px;
        }
        .form-input{
            // background:rgba($brand-primary,0.1);
            border-radius:3px;
            // border:none;
            box-shadow:none;
        }
        label{
            font-weight:400;
        }
        input[type="submit"]{
            border-radius:3px;
            background:$brand-farmbase;
            border:1px solid darken($brand-farmbase,10%);
        }
         .error{
        color:crimson;
        font-size:12px;
        font-weight:700;
        font-style:italic;
    }
}